#contactlinks {
    display: flex;
    overflow: none;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 10%;
    margin-top: 25%;

    .contactlink {
        font-size: 4vmin;
    }
}
