@import 'main.scss';

#mainmenu {
    float: left;
    width: 16vw;
    overflow: hidden;
    background: #2C3E50;
    color: var(--light-font-color);
    padding: 2vw;
    height: calc(100vh - 4vw);
    position: fixed;

    a, a:visited {
        color: var(--light-font-color);
        font-weight: normal;
    }

    ul {
        list-style-type: none;
        padding: 0;
    }

    #infocard {
        h1 {
            text-align: left;
            font-size: 200%;
            font-variant: small-caps;
        }
    }

    #navmenu {
        margin-top: 5vmin;
    }

    #languageselector {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        text-align: center;

        img {
            height: 2vmin;
        }
    }

    #contactlinks {
        position: absolute;
        bottom: 4vmin;
        left: 0;
        text-align: center;
        display: flex;
        width: 100%;
        justify-content: center;
        font-size: 4vmin;

        li {
            margin: 0 2vmin;
        }
    }

    @media screen and (max-width: $break-supersmall) {
        float: none;
        width: 96vw;
        height: 10vh;
        position: fixed;
        z-index: 10;
        display: flex;

        #infocard {
            width: 21vw;

            h1 {
                font-size: 5vmin;
            }
        }
        
        #navmenu {
            margin: 0;
            display: flex;
            justify-content: space-around;
            flex-grow: 1;

            li {
                a {
                    height: 100%;
                    display: inline-flex;
                    align-items: center;
                }
            }
        }

        #contactlinks, #languageselector {
            position: relative;
            top: 0;
            left: 0;
            width: auto;
            font-size: 6vmin;

            img {
                height: 6vmin;
            }
        }

        #languageselector {
            margin-left: 2vmin;
        }
    }
}
