.postlistitem {
    cursor: pointer;
    border: 1px solid lightgray;
    margin-bottom: 1vmin;
    padding: 1vmin;

    &:hover {
        border: 1px solid rgba(0,0,0,0); /* fully-transparent border so the item doesn't lose width when it disappears */
        background-color: gainsboro;
    }
}
