.post-resumes {
    h1, h2, h3 {
        font-variant: small-caps;
    }

    h1, h2 {
        text-align: center;
    }

    h1 {
        font-size: 9vmin;
    }

    h2 {
        font-size: 7vmin;
    }

    h3 {
        font-size: 5vmin;
        clear: both;
        color: #6A6A61;
        margin: 3vmin 0 3vmin 0;
    }

    .resume-item-title {
        font-size: 110%;
    }

    .resume-item-date {
        font-size: 90%;
        font-weight: bold;
    }

    #resume-basic-info {
        list-style-type: none;
        position: absolute;
        right: 4vw;
        top: 2vw;

        i {
            width: 4vmin;
            text-align: center;
        }
    }

    #resume-career {
        .resume-job {
            margin-bottom: 2vmin;

            .resume-job-company {
                margin-left: 1vmin;
                font-size: 85%;
            }

            .resume-job-description {
                font-size: 85%;
            }
        }
    }

    #resume-diplomas {
        float: left;
        width: 50%;

        h4 {
            display: none;
        }

        .resume-diploma {
            margin-bottom: 2vmin;

            .resume-diploma-location {
                font-size: 85%;
            }
        }
    }

    #resume-certifications {
        float: right;
        width: 50%;

        h4 {
            display: none;
        }

        .resume-certification {
            margin-bottom: 2vmin;

            .document-link {
                width: 3vmin;
            }

            .resume-certification-title {
                display: inline;
            }
        }
    }

    #resume-skills {
        display: flex;
        flex-wrap: wrap;

        .resume-skill {
            width: 50%;
            margin-bottom: 5vmin;

            &:last-child:nth-child(odd) {
                margin-left: 50%;
            }
        }
    }

}
