@import 'main.scss';

.post-resumes {
    h1, h2, h3 {
        font-variant: small-caps;
    }

    h1, h2 {
        text-align: center;
    }

    h1 {
        font-size: 7vmin;
    }

    h2 {
        font-size: 5vmin;
    }

    h3 {
        font-size: 4vmin;
        clear: both;
        color: #6A6A61;
        margin: 3vmin 0 3vmin 0;
    }

    .resume-item-title {
        font-size: 110%;
    }

    .resume-item-date {
        font-size: 90%;
        font-weight: bold;
    }

    #resume-basic-info {
        list-style-type: none;
        position: absolute;
        right: 4vw;
        top: 2vw;

        i {
            width: 4vmin;
            text-align: center;
        } 

        .resumeinfo-printonly {
            display: none;
        }
    }

    #resume-career {
        .resume-job {
            margin-bottom: 2vmin;

            .resume-job-company {
                margin-left: 1vmin;
                font-size: 85%;
            }

            .resume-job-description {
                font-size: 85%;
            }
        }
    }

    #resume-diplomas {
        float: left;
        width: 50%;

        h4 {
            display: none;
        }

        .resume-diploma {
            margin-bottom: 2vmin;

            .resume-diploma-location {
                font-size: 85%;
            }
        }
    }

    #resume-certifications {
        float: right;
        width: 50%;

        h4 {
            display: none;
        }

        .resume-certification {
            margin-bottom: 2vmin;

            .document-link {
                width: 3vmin;
            }

            .resume-certification-title {
                display: inline;
            }
        }
    }

    #resume-skills {
        display: flex;
        flex-wrap: wrap;

        .resume-skill {
            width: 50%;
            margin-bottom: 5vmin;

            &:last-child:nth-child(odd) {
                margin-left: 50%;
            }
        }
    }

    @media screen and (max-width: $break-supersmall) {
        h1 {
            display: none;
        }

        h2 {
            font-size: 8vmin;
        }

        h3 {
            margin-top: 5vmin;
            font-size: 6vmin;
        }

        .resume-block {
            margin-top: 8vmin;

            .resume-subblock {
                margin-top: 3vmin;
            }
        }

        #resume-basic-info {
            position: relative;
            display: flex;
            justify-content: space-between;

            i {
                margin-right: 2vmin;
            }
        }

        #resume-title-education-certifications {
            display: none;
        }

        #resume-diplomas,
        #resume-certifications {
            float: none;
            width: 100%;
        }

        #resume-diplomas,
        #resume-certifications {
            h4 {
                display: initial;
                margin-top: 5vmin;
                color: #6A6A61;
                font-variant: small-caps;
                font-size: 6vmin;
            }
        }

        #resume-certifications {
            .resume-certification {
                margin-top: 0;
            }
        }

        #resume-career {
            .resume-job {
                .resume-job-company {
                    display: block;
                    margin-left: 0;
                    font-size: 80%;
                }
            }
        }

        #resume-skills {
            display: initial;

            .resume-skill {
                width: 100%;

                &:last-child:nth-child(odd) {
                    margin-left: 0;
                }
            }
        }
    }

    @media print {
        h1 {
            text-align: left;
            font-size: 4.5vmin;
        }

        h2 {
            text-align: center;
            font-size: 4vmin;
        }

        h3 {
            font-size: 3vmin;
        }

        a {
            font-weight: normal;
        }

        .document-link {
            display: none;
        }

        .resume-item-title {
            font-size: 100%;
        }

        #resume-basic-info {
            right: 0;

            .resumeinfo-printonly {
                display: initial;
            }
        }

        #resume-career {
            .resume-job {
                margin: 0;
            }
        }

        #resume-diplomas {
            width: 75%;

            .resume-diploma {
                margin: 0;

                &:last-child {
                    display: none;
                }
            }
        }

        #resume-certifications {
            width: 25%;
        }

        #resume-skills {
            .resume-skill {
                margin: 0;
            }
        }
    }
}
