:root {
    --sheet-width: 50vw;
    --sheet-height: calc(var(--sheet-width) / 0.7);

}

#stackofpaper {
    height: var(--sheet-height);
    margin-bottom: 5vh;
}

.sheet {
    background-color: #fafafa;
    width: var(--sheet-width);
    height: var(--sheet-height);
    border: 1px solid black;
    position: absolute;
    left: calc(50vw - (var(--sheet-width)/2));
    top: 2.5vh;
    box-shadow: 0.1875vmin 0.1875vmin 0.1875vmin black;
}

.sheet-content {
    margin: calc(var(--sheet-width) / 10);
}

