:root {
    --sheet-width: 50vw;
    --sheet-height: calc(var(--sheet-width) / 0.7);
    --sheet-margin: calc(var(--sheet-width) / 15);
}

#stackofpaper {
    height: var(--sheet-height);
    margin-bottom: 5vh;
}

.sheet {
    background-color: #fafafa;
    position: absolute;
    min-height: var(--sheet-height);

    .sheet-content {
        margin: var(--sheet-margin);
    }

    &:not(:last-child) {
        @media screen and (max-width: 1024px) {
            display: none;
        }
    }

    @media screen and (min-width: 1025px) {
        width: var(--sheet-width);
        border: 1px solid black;
        left: calc(50vw - (var(--sheet-width)/2));
        top: 2.5vh;
        box-shadow: 0.1875vmin 0.1875vmin 0.1875vmin black;
    }

    @media screen and (max-width: 1687px) {
        width: 70vw;
    }

    @media screen and (max-width: 1024px) {
        width: 100vw;
        left: 0;
    }
}

