:root {
    --stickynote-size: 15vw;
    --stickynote-background: #ffffa5;
    --stickynote-background-dark: #ffff77;
}

.stickynote {
    &#stickynote-left {
        top: 5vw;
        left: 5vw;
        border-bottom-right-radius: 12vmin 1vmin;
        border-bottom-left-radius: 3vmin 2vmin;

    }

    &#stickynote-right {
        top: 10vw;
        right: 5vw;
        border-bottom-right-radius: 12vmin 3vmin;
        border-bottom-left-radius: 7vmin 1vmin;
    }

    .stickynote-content {
        padding: calc(var(--stickynote-size) / 20);
    }

    @media screen and (min-width: 801px) {
        position: fixed;
        width: var(--stickynote-size);
        height: var(--stickynote-size);
        background-color: var(-stickynote-background);
        background: linear-gradient(var(--stickynote-background-dark), var(--stickynote-background));
        box-shadow: 0.1875vmin 0.1875vmin 0.1875vmin black;
    }

    @media screen and (max-width: 800px) {
        transform: initial !important;
        display: inline-block;
    }
}

